license-scan/src/main/xsd/licenses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="licenseSummary" type="licenseSummaryType"/>
  <xs:complexType name="licenseType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="xs:string" name="distribution" minOccurs="0"/>
      <xs:element type="xs:string" name="file"/>
      <xs:element type="xs:string" name="comments" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="licensesType">
    <xs:sequence>
      <xs:element type="licenseType" name="license" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependencyType">
    <xs:sequence>
      <xs:element type="xs:string" name="groupId"/>
      <xs:element type="xs:string" name="artifactId"/>
      <xs:element type="xs:string" name="version"/>
      <xs:element type="licensesType" name="licenses">
        <xs:annotation>
          <xs:documentation> No license information available.  No license information available.  No license information available.  No license information available.  No license information available.  No license information available.  No license information available.  No license information available.  No license information available.  No license information available. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependenciesType">
    <xs:sequence>
      <xs:element type="dependencyType" name="dependency" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="licenseSummaryType">
    <xs:sequence>
      <xs:element type="dependenciesType" name="dependencies"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
